/*   Yahoo Reset  */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*  Golden Grid - CSS Library; Author:Vladimir Carrer; CSS Grid  */
.main {  margin:0 auto;  width:970px; padding-top:21px;   }

.g160,.g320,.g480,.g640,.g800,.g960,.g80,.g240,.g400,.g560,.g720,.g880,.g960 {float:left; display: inline; margin-left:10px;  } 

/* 6 columns */
.g160  {width:150px;}
.g320  {width:310px;}
.g480  {width:470px;}
.g640  {width:630px;}
.g800  {width:790px;}
.g960  {width:950px;}

/* 12 columns */
.g80 {width:70px;}
.g240 {width:230px;}
.g400 {width:390px;}
.g560 {width:550px;}
.g720 {width:710px;}
.g880 {width:870px;}

/* margin */
.ml80{margin-left:90px;}
.ml160{margin-left:170px;}
.ml240{margin-left:250px;}
.ml320{margin-left:330px;}
.ml400{margin-left:410px;}
.ml480{margin-left:490px;}
.ml560{margin-left:560px;}
.ml640{margin-left:650px;}
.ml720{margin-left:730px;}
.ml800{margin-left:810px;}
.ml880{margin-left:890px;}
.ml960{margin-left:970px;}

.inside{margin-left:0;}

p.grid{padding-left:10px;}
  
.clear {clear:both;}
.clearfix, .main{ display:block;} 

.clearfix:after, .main:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
	 }
	
/* Basline  */
body {
	font: 87.5%/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	color:#333;
}
h1,h2,h3,h4,h5 {
	font-weight: bold;
}
h6 {
	font-weight:normal;
	color:#333;
}
h1 {
	font-size: 1.5714285714285714em;
	line-height: 0.9545454545454546em;
	margin-bottom: 0.9545454545454546em;
}
h2 {
	font-size: 1.4285714285714286em;
	line-height: 1.05em;
	margin-bottom: 1.05em;
}
h3 {
	font-size: 1.2857142857142858em;
	line-height: 1.1666666666666667em;
	margin-bottom: 1.1666666666666667em;
}
h4 {
	font-size: 1.1428571428571428em;
	line-height: 1.3125em;
	margin-bottom: 1.3125em;
}
p, ol, ul, blockquote, pre, td, th	 {
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
p.small {
	margin: 0;
	font-size: 0.8571428571428571em;
	line-height: 1.75em;
	margin-bottom: 1.75em;
}
table {
	margin-bottom: 1.5em;
}

/* Tables */
caption, th {
	font-weight:bold;
}
caption {
	display:block;
}
tbody td, th {
	padding-right:2em;
}
tbody tr:hover {
	background:#F2F7F4;
}

/* Forms */
legend {
	font-weight:bold;
	color:#333;
}
label {
	display:block;
}
label.radio, label.check {
	display:inline;
	margin-left:.5em;
}
input[type="text"],
input[type="password"],
input[type="select"],
input[type="search"], 
select {
	display:block;
	color:#333;
	height:20px;
	width:220px;
	margin-bottom:22px;
	font-size:1em;
	font-family:'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
form ul, form li {
	color:#C20C0C;
	font-family: 'Courier New', Courier,  monospace;
	font-weight: bold;
	margin-bottom:0;
}
div.field_with_errors input {
	background:#FFE7E7;
}
input[type="submit"] {
	padding:0 1em 0 1em;
}

/* Page Styles */
#logo {
	margin:-6px 0 0 -2px;
}
#top_nav {
	text-align:right;
	font-size:12px;
}
#menu, #menu a {
	min-height:21px;
	color:#444;
}
#flash_notice {
	color:#007000;
	font-family: 'Courier New', Courier,  monospace;
}
#flash_alert {
	color:#EC7000;
	font-family: 'Courier New', Courier,  monospace;
}
ol {
	list-style: decimal;
}
ul {
	list-style: disc;
}
li {
	margin-left: 2em;
}
a {
	color:	#205D87;
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
}

/* Autocomplete */
.ac_results {
	padding: 0px;
	border: 1px solid gray;
	background-color: white;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	font-size: 1em;
	color: #333;
	overflow: hidden;
    text-align:left;
}

.ac_loading {
	background : white url('/images/spinner.gif') right center no-repeat;
}

.ac_over {
	background-color: gray;
	color: black;
}


.water { color:#5582d1; }
.earth { color:#4e3e2c; }
.air { color:#f1fff7; }
.fire { color:#ff8a19; }
.wine { color:#4a040a; }
.beer { color:#F0C030; }
.caffe { color:#473523; }
.caffe-cream { color:#b68d3d; }
.espresso { color:#2c1901; }
.caramel{ color:#ab671f; }
.chocolate { color:#290200; }
.black-pepper { color:#444334; }
.pepper-lite { color:#8d8a72; }
.lipstick { color:#c20c0c; }


.red      { color:#c20c0c; }
.pale-red { color:#F5BBBB; }
.red { color:#c20c0c; }
.red { color:#c20c0c; }
.red { color:#c20c0c; }
.red { color:#c20c0c; }
.red { color:#c20c0c; }
.red { color:#c20c0c; }


