<div id="chart" style="width:600px;height:300px;"></div> 
<script id="source" language="javascript" type="text/javascript"> 
$(function () {
	
	var d = <%= my_sales2l_chart(current_user).to_json %>;

	
	
    $.plot($("#chart"), [

        {
	        label: "Targets",
            data: d[0],
            lines: { show: true, steps: true, fill: true, lineWidth: 0}
        },
        {
	        label: "Bookings",
            data: d[1],
            bars: { show: true, barWidth: 1000*60*60*24*22, lineWidth: 0 }
        },
        {
	        label: "Forecast",
            data: d[2],
            bars: { show: true, barWidth: 1000*60*60*24*22, lineWidth: 0 }
        }
    ],
 { xaxis: 
	{mode: "time",
	 min: d[3],
	 max: d[4],
	 ticks: 5 }});
});
</script>
