<p>
  <b>Name:</b>
  <%= @confidence.name %>
</p>

<p>
  <b>Description:</b>
  <%= @confidence.description %>
</p>

<p>
  <b>Weight:</b>
  <%= @confidence.weight %>
</p>

<p>
  <b>Enabled:</b>
  <%= @confidence.enabled %>
</p>
