<div id="myGrid" style="width:600px;height:500px;"></div>

<script> 
 
		var grid;
 
		var columns = [
			{id:"name", name:"Title", field:"name", sortable:true },
			{id:"order_value", name:"Duration", field:"order_date"}
		];
 
		var options = {
			enableCellNavigation: false,
            enableColumnReorder: false
		};
 var data = <%=raw @opportunities.to_json -%>;
		$(function() {
            

			grid = new Slick.Grid($("#myGrid"), data, columns, options);
		})
 
		</script>
		
