<div id="myGrid" style="width:600px;height:500px;"></div>

<script> 
 
		var grid;
 
		var columns = [
			{id:"name", name:"Title", field:"name"},
			{id:"order_value", name:"Duration", field:"order_value"}
		];
 
		var options = {
			enableCellNavigation: false,
            enableColumnReorder: false
		};
 
		$(function() {
            var data = <%== @opportunities.to_json %>;

			grid = new Slick.Grid($("#myGrid"), data, columns, options);
		})
 
		</script>
		
